<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cipher.jms.consumer.mapper.EmailInfoMapper">


    <select id="getEmailInfo" resultType="cipher.jms.consumer.domain.EmailInfoDomain" parameterType="cipher.jms.consumer.domain.EmailInfoDomain">
       select id,
              smtp,port,title,account,pwd,describes,dredge_title,seedkey_title,dredge_describes,seedkey_describes,isSSL,
              send_time as sendTime,
              interval_time as intervalTime,
              effective_time as effectiveTime,
              extend_time as extendTime
              from  cipher_email_config where company_uuid=#{companyId}
    </select>

</mapper>