<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cipher.console.oidc.mapper.AuthStrategyMapper">
    <resultMap id="BaseResultMap" type="cipher.console.oidc.domain.authsettingsdomain.AuthStrategyDomain">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="uuid" property="uuid" jdbcType="VARCHAR" />
        <result column="company_uuid" property="companyUuid" jdbcType="VARCHAR" />
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />
        <result column="priority" property="priority" jdbcType="INTEGER" />
        <result column="auth_origin" property="authOrigin" jdbcType="INTEGER" />
        <result column="second_auth" property="secondAuth" jdbcType="INTEGER" />
        <result column="auth_type" property="auth_type" jdbcType="VARCHAR" />
        <result column="effective_range" property="effectiveRange" jdbcType="VARCHAR" />
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modify_time" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="FieldColumn">
        (uuid,company_uuid,strategy_name,priority,auth_origin,second_auth,auth_type,effective_range,create_time,modify_time)
    </sql>
    <insert id="insertAuthStrategy" parameterType="cipher.console.oidc.domain.authsettingsdomain.AuthStrategyDomain">
        INSERT INTO cipher_identity_auth_strategy
        <include refid="FieldColumn"/>
        VALUES
        (#{uuid},
        #{companyUuid},
        #{strategyName},
        #{priority},
        #{authOrigin},
        #{secondAuth},
        #{auth_type},
        #{effectiveRange},
        NOW(),
        NOW())
    </insert>
    <update id="updateAuthStrategy" parameterType="cipher.console.oidc.domain.authsettingsdomain.AuthStrategyDomain">
        UPDATE cipher_identity_auth_strategy
        <set>
            <if test="strategyName!=null">
                strategy_name=#{strategyName},
            </if>
            <if test="priority!=null">
                priority=#{priority},
            </if>
            <if test="authOrigin!=null">
                auth_origin=#{authOrigin},
            </if>
            <if test="secondAuth!=null">
                second_auth=#{secondAuth},
            </if>
            <if test="auth_type!=null">
                auth_type=#{auth_type},
            </if>
            <if test="effectiveRange!=null">
                effective_range=#{effectiveRange},
            </if>
            modify_time=NOW()
        </set>
        WHERE uuid=#{uuid};
    </update>
    <select id="selectAuthStrategyByUuid" parameterType="string" resultMap="BaseResultMap">
        SELECT id,uuid,company_uuid,strategy_name,priority,auth_origin,second_auth,auth_type,effective_range,create_time,modify_time
        FROM cipher_identity_auth_strategy
        WHERE uuid=#{uuid};
</select>

</mapper>