<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.daoAuthoriza.CompanyInfoDAO">


    <select id="queryCompanyIdByPlatUserId" resultType="java.lang.Integer">
        select id
        from cipher_company_info
        where plat_user_id = #{platUserId};
    </select>


</mapper>