<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.daoAuthoriza.DingTalkConfigDAO">

    <resultMap id="baseResultMap" type="com.portal.domain.DingTalkConfig">
        <result property="id" column="id"></result>
        <result property="companyUUid" column="companyUUid"></result>
        <result property="scanAppId" column="scan_app_id"></result>
        <result property="scanAppSecret" column="scan_app_secret"></result>
        <result property="corpId" column="corp_id"></result>
        <result property="corpSecret" column="corp_secret"></result>
        <result property="appKey" column="app_key"></result>
        <result property="appSecret" column="app_secret"></result>
        <result property="attrMap" column="attr_map"></result>
        <result property="matchRule" column="match_rule"></result>
        <result property="createTime" column="create_time"></result>
        <result property="modifyTime" column="modify_time"></result>
        <result property="callbackUrl" column="callback_url"></result>
        <result property="authUrl" column="auth_url"></result>
        <result property="application" column="application"></result>
        <result property="applicationName" column="application_name"></result>
        <result property="configId" column="config_id"></result>
    </resultMap>

    <sql id="baseColumns">
        companyUUid, scan_app_id, scan_app_secret, corp_id, corp_secret, app_key, app_secret, attr_map, match_rule,
        create_time, modify_time
    </sql>

    <sql id="configColumns">
        cipher_ding_scan_app_info.scan_app_id,cipher_ding_scan_app_info.scan_app_secret,
      companyUUid,corp_id,corp_secret,app_key,app_secret,attr_map,match_rule,cipher_ding_scan_app_info.create_time,
      cipher_ding_scan_app_info.modify_time,callback_url,auth_url,application,application_name,config_id
    </sql>

    
    <select id="getDingTalkConfigByCompanyId" resultMap="baseResultMap" parameterType="String">
        SELECT <include refid="baseColumns"/>

        FROM
          cipher_ding_config_info
        WHERE
          companyUUid = #{companyUUid}
        limit 1
    </select>

    <select id="getPortalDingConfig" resultMap="baseResultMap" parameterType="String">
        select <include refid="configColumns"/>
        from
          cipher_ding_config_info
        left join
          cipher_ding_scan_app_info
        on
          cipher_ding_config_info.id = cipher_ding_scan_app_info.config_id
        where
          application = 'portal_sso'
        limit 1
    </select>

</mapper>