<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.daoAuthoriza.DynamicPasswordDAO">


    <select id="getSeed" parameterType="string" resultType="string">

    select dynamic_password from cipher_dynamic_password where user_id =#{uuid}

</select>

</mapper>
