<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.daoAuthoriza.InitPasswordDAO">

    <resultMap id="baseMap" type="com.portal.domain.PasswordSetting">
        <result column="id" property="id"/>
        <result column="length" property="length"/>
        <result column="company_id" property="companyId"/>
        <result column="init" property="init"/>
        <result column="password_type" property="passwordType"/>
    </resultMap>

    <sql id="baseColumns">
        id, length, init, password_type,company_id
    </sql>

    <select id="getInitPwd" resultType="java.lang.String">
          SELECT init from cipher_password_setting_info limit 1;
    </select>

    <select id="getPasswordSetting" resultMap="baseMap" parameterType="String">
        SELECT <include refid="baseColumns"/> from cipher_password_setting_info
        WHERE company_id = #{company_id}
        limit 1;
    </select>


</mapper>
