<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.daoAuthoriza.LoginFailedConfigDAO">


    <resultMap type="com.portal.domain.LoginFailedConfigEntity" id="loginFailedConfigResultMap">
        <result column="time_range" property="timeRange"/>
        <result column="fail_count" property="failCount"/>
        <result column="freezing_time" property="freezingTime"/>
        <result column="status" property="status"/>
    </resultMap>


    <select id="queryLoginFailedUser" resultMap="loginFailedConfigResultMap">
        SELECT
            time_range,
            fail_count,
            freezing_time,
            status
        FROM
            cipher_login_exception_manage
        LIMIT 1
    </select>


</mapper>
