<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cipher.console.oidc.mapper.AdminBehaviorInfoMapper">
    <resultMap id="BaseResultMap" type="cipher.console.oidc.domain.web.AdminBehaviorInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="msg" property="msg" jdbcType="VARCHAR"/>
        <result column="operation" property="operation" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, type, ip, msg, create_time, operation
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cipher_admin_behavior_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM cipher_admin_behavior_log
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cipher.console.oidc.domain.web.AdminBehaviorInfo">
        INSERT INTO cipher_admin_behavior_log (id, user_id, operation,
                                               type, ip, msg, create_time
        )
        VALUES (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{operation,jdbcType=VARCHAR},
                #{type,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="cipher.console.oidc.domain.web.AdminBehaviorInfo">
        insert into cipher_admin_behavior_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>

            <if test="type != null">
                type,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="msg != null">
                msg,
            </if>
            <if test="operation != null">
                operation,
            </if>

            <if test="createTime != null">
                create_time,
            </if>

            <if test="companyId != null">
                company_id,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>

            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="msg != null">
                #{msg,jdbcType=VARCHAR},
            </if>
            <if test="operation != null">
                #{operation,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="companyId != null">
                #{companyId},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cipher.console.oidc.domain.web.AdminBehaviorInfo">
        update cipher_admin_behavior_log
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>

            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="operation != null">
                operation= #{operation,jdbcType=VARCHAR},
            </if>
            <if test="msg != null">
                msg = #{msg,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cipher.console.oidc.domain.web.AdminBehaviorInfo">
        UPDATE cipher_admin_behavior_log
        SET user_id     = #{userId,jdbcType=INTEGER},
            type        = #{type,jdbcType=INTEGER},
            ip          = #{ip,jdbcType=VARCHAR},
            msg         = #{msg,jdbcType=VARCHAR},
            operation   = #{operation,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <!--<select id="selectAdminBehaviorList" resultType="cipher.console.oidc.domain.web.AdminBehaviorInfo">
        select
        user_name as userName,mm.account_number as userId,tt.operation,
        mm.mail,mm.nickname,mm.phone_number,tt.create_time,tt.ip,tt.msg,tt.type
        from cipher_admin_behavior_log tt
        RIGHT JOIN cipher_user_info mm on mm.uuid=tt.user_id
        where 1=1 and tt.company_id=#{companyId}
        <if test="queryName!=null and queryName!=''">
            and user_name LIKE CONCAT(CONCAT('%',#{queryName}),'%')
        </if>

        <if test="type != null and type!=0">
            and tt.type = #{type,jdbcType=INTEGER}
        </if>
        <if test="startTime != null and startTime!=''">
            and tt.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and tt.create_time &lt; #{endTime}
        </if>
        order by tt.create_time desc
        LIMIT #{pageData.currentRow}, #{pageData.rows}
    </select>-->

    <select id="selectAdminBehaviorList" resultType="cipher.console.oidc.domain.web.AdminBehaviorInfo">
        select
        user_id as userName,operation,type,create_time
        from cipher_admin_behavior_log
        where 1=1 and company_id=#{companyId}
        <if test="queryName!=null and queryName!=''">
            and user_id LIKE CONCAT(CONCAT('%',#{queryName}),'%')
        </if>
        <if test="startTime != null and startTime!=''">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and create_time &lt;= #{endTime}
        </if>

        <if test="type != null and type!=0">
            and type = #{type,jdbcType=INTEGER}
        </if>
        order by create_time desc
        LIMIT #{pageData.currentRow}, #{pageData.rows}
    </select>


   <!-- <select id="selectAdminBehaviorCount" resultType="int">
        select
        count(1)
        from cipher_admin_behavior_log tt
        RIGHT JOIN cipher_user_info mm on mm.uuid=tt.user_id
        where 1=1 and tt.company_id=#{companyId}
        <if test="queryName!=null and queryName!=''">
            and user_name LIKE CONCAT(CONCAT('%',#{queryName}),'%')
        </if>
        <if test="type != null and type!=0">
            and tt.type = #{type,jdbcType=INTEGER}
        </if>
        <if test="startTime != null and startTime!=''">
            and tt.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and tt.create_time &lt; #{endTime}
        </if>
    </select>-->

    <!--<select id="exportExcle" resultType="cipher.console.oidc.domain.exceldomain.AdminBehaviorExcle"
            parameterType="cipher.console.oidc.domain.web.AdminBehaviorInfo">
        select
        user_name as userName,mm.account_number as userId,tt.operation,
        mm.mail,mm.nickname,mm.phone_number,tt.create_time,tt.ip,tt.msg,tt.type
        from cipher_admin_behavior_log tt
        RIGHT JOIN cipher_user_info mm on mm.uuid=tt.user_id
        where 1=1 and tt.company_id=#{companyId}
        <if test="queryName!=null and queryName!=''">
            and mm.nickname LIKE CONCAT(CONCAT('%',#{queryName}),'%') OR
            user_name LIKE CONCAT(CONCAT('%',#{queryName}),'%') OR
            mm.phone_number LIKE CONCAT(CONCAT('%',#{queryName}),'%')OR
            mm.mail LIKE CONCAT(CONCAT('%',#{queryName}),'%')
        </if>
        <if test="type != null and type!=0">
            and tt.type = #{type,jdbcType=INTEGER}
        </if>
        <if test="startTime != null and startTime!=''">
            and tt.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and tt.create_time &lt;= #{endTime}
        </if>
        order by tt.create_time DESC
    </select>
-->


    <select id="exportExcle" resultType="cipher.console.oidc.domain.exceldomain.NewAdminBehaviorExcle"
            parameterType="cipher.console.oidc.domain.web.AdminBehaviorInfo">
        select
        user_id as userName,operation,type,create_time
        from cipher_admin_behavior_log
        where 1=1 and company_id=#{companyId}
        <if test="queryName!=null and queryName!=''">
            and user_id LIKE CONCAT(CONCAT('%',#{queryName}),'%')
        </if>
        <if test="startTime != null and startTime!=''">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and create_time &lt;= #{endTime}
        </if>

        <if test="type != null and type!=0">
            and type = #{type,jdbcType=INTEGER}
        </if>
        order by create_time desc
    </select>


    <select id="selectAdminBehaviorCount" resultType="int">
        select
        count(1)
        from cipher_admin_behavior_log
        where 1=1 and company_id=#{companyId}
        <if test="queryName!=null and queryName!=''">
            and user_id LIKE CONCAT(CONCAT('%',#{queryName}),'%')
        </if>
        <if test="startTime != null and startTime!=''">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and create_time &lt;= #{endTime}
        </if>
        <if test="type != null and type!=0">
            and type = #{type,jdbcType=INTEGER}
        </if>

    </select>


</mapper>