<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cipher.console.oidc.mapper.CheckUserMapper">
    <select id="userByAccountNumber" parameterType="string"
            resultType="cipher.console.oidc.domain.web.RegisterUserInfo">
        SELECT uuid, company_id, account_number, user_name, mail, phone_number
        FROM cipher_user_info
        WHERE account_number = #{accountNumber} and company_id=#{companyId}
        LIMIT 1
    </select>
    <select id="userByMail" resultType="cipher.console.oidc.domain.web.RegisterUserInfo">
        SELECT uuid, company_id, account_number, user_name, mail, phone_number
        FROM cipher_user_info
        WHERE mail=#{mail} and company_id=#{companyId}
        LIMIT 1
    </select>
    <select id="userByTelephone" resultType="cipher.console.oidc.domain.web.RegisterUserInfo">
        SELECT uuid, company_id, account_number, user_name, mail, phone_number
        FROM cipher_user_info
        WHERE phone_number=#{telephone} and company_id=#{companyId}
        LIMIT 1
    </select>
    <select id="updateUserByAccountNumber" parameterType="string"
            resultType="cipher.console.oidc.domain.web.RegisterUserInfo">
        SELECT uuid, company_id, account_number, user_name, mail, phone_number
        FROM cipher_user_info
        WHERE account_number = #{accountNumber} and company_id=#{companyId} and uuid!=#{uuid}
        LIMIT 1
    </select>
    <select id="updateUserByMail" resultType="cipher.console.oidc.domain.web.RegisterUserInfo">
        SELECT uuid, company_id, account_number, user_name, mail, phone_number
        FROM cipher_user_info
        WHERE mail=#{mail} and company_id=#{companyId} and uuid!=#{uuid}
        LIMIT 1
    </select>
    <select id="updateUserByTelephone" resultType="cipher.console.oidc.domain.web.RegisterUserInfo">
        SELECT uuid, company_id, account_number, user_name, mail, phone_number
        FROM cipher_user_info
        WHERE phone_number=#{telephone} and company_id=#{companyId} and uuid!=#{uuid}
        LIMIT 1
    </select>

</mapper>