<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cipher.console.oidc.mapper.EmailInfoMapper">


    <update id="updateEmailInfo" parameterType="cipher.console.oidc.domain.web.EmailInfoDomain">
        update cipher_email_config
        <set>
            <if test="smtp != null">
                smtp = #{smtp},
            </if>
            <if test="port != null">
                port = #{port},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="account != null">
                account = #{account},
            </if>
            <if test="pwd != null">
                pwd=#{pwd},
            </if>
            <if test="describes != null">
                describes = #{describes},
            </if>
            <if test="isSSL != null">
                isSSL=#{isSSL},
            </if>
            <if test="effectiveTime != null">
                effective_time=#{effectiveTime},
            </if>
            <if test="sendTime != null">
                send_time=#{sendTime},
            </if>
            <if test="intervalTime != null">
                interval_time=#{intervalTime},
            </if>
            <if test="extendTime != null">
                extend_time=#{extendTime},
            </if>
            modify_time=NOW()
        </set>
        where id = #{id}
    </update>

    <select id="getEmailInfo" resultType="cipher.console.oidc.domain.web.EmailInfoDomain">
       select id,
              smtp,port,title,account,pwd,describes,isSSL,
              send_time as sendTime,
              interval_time as intervalTime,
              effective_time as effectiveTime,
              extend_time as extendTime from cipher_email_config
    </select>

    <insert id="insertEmailInfo" parameterType="cipher.console.oidc.domain.web.EmailInfoDomain">
        insert into cipher_email_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="smtp != null">
                smtp,
            </if>
            <if test="port != null">
                port,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="describes != null">
                describes,
            </if>
            <if test="isSSL != null">
                isSSL,
            </if>
            <if test="effectiveTime != null">
                effective_time,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="intervalTime != null">
                interval_time,
            </if>
            <if test="extendTime != null">
                extend_time,
            </if>
             create_time,
             modify_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="smtp != null">
                #{smtp},
            </if>
            <if test="port != null">
                #{port},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="account != null">
                #{account},
            </if>
            <if test="pwd != null">
                #{pwd},
            </if>
            <if test="describes != null">
                #{describes},
            </if>
            <if test="isSSL != null">
                #{isSSL},
            </if>
            <if test="effectiveTime != null">
                #{effectiveTime},
            </if>
            <if test="sendTime != null">
               #{sendTime},
            </if>
            <if test="intervalTime != null">
                #{intervalTime},
            </if>
            <if test="extendTime != null">
                #{extendTime},
            </if>
            NOW(),
            NOW()
        </trim>

    </insert>



</mapper>