<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cipher.console.oidc.mapper.PasswordSettingMapper">

    <select id="queryPasswordSetting" resultType="cipher.console.oidc.domain.web.PasswordSettingDomain">
        SELECT * FROM cipher_password_setting_info where company_id=#{companyId} limit 1;
    </select>

    <update id="updatePasswordSetting">
        UPDATE cipher_password_setting_info SET length = #{length},init = #{init};
    </update>
    <update id="savePassword"  parameterType="cipher.console.oidc.domain.web.PasswordSettingDomain">
              UPDATE cipher_password_setting_info SET password_type = #{passwordType},init = #{init}
              where company_id=#{companyId};
    </update>

</mapper>
