<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cipher.console.oidc.mapper.PasswordAuthorizationMapper">

    <update id="resetAccountPassword" parameterType="String">
         UPDATE cipher_password_authorization_mag
          SET password =#{initPwd}
          WHERE user_id = #{uuid};
    </update>

    <insert id="insertAccountPassword" parameterType="cipher.console.oidc.domain.web.PasswordAuthorizationMagDomain">
          INSERT INTO `cipher_password_authorization_mag`
            (`account_anthorized_code`,
             `account_number`,
             `user_id`,
             `password_min_count`,
             `password`,
             `password_binding_date`,
             `create_time`,
             `modify_time`
            )
          VALUES (#{accountAnthorizedCode},
          #{accountNumber},
          #{userId},
          #{passwordMinCount},
          #{password},
          #{passwordBindingDate},
          NOW(),
          NOW())

    </insert>

    <select id="insertAccountPasswordExcel">
        INSERT INTO `cipher_password_authorization_mag`
        (`account_anthorized_code`,
        `account_number`,
        `password_min_count`,
        `password`,
        `password_binding_date`,
        `create_time`,
        `modify_time`
        )
        VALUES
        <foreach collection="list" item="domain" index="index" separator=",">
            (#{domain.accountAnthorizedCode},
            #{domain.accountNumber},
            #{domain.passwordMinCount},
            #{domain.password},
            #{domain.passwordBindingDate},
            #{domain.createTime},
            #{domain.modifyTime})
        </foreach>

    </select>


    <delete id="deleteAccountPassword">
      delete from cipher_password_authorization_mag where user_id=#{uuid}
    </delete>


    <select id="selectPasswordAuthorizationMagDomain"
            resultType="cipher.console.oidc.domain.web.PasswordAuthorizationMagDomain">
      select * from  cipher_password_authorization_mag where user_id=#{uuid}
    </select>

    <update id="updatePassword" parameterType="String">
         UPDATE cipher_password_authorization_mag
          SET password =#{password}
          WHERE user_id = #{uuid};
    </update>


</mapper>
