<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cipher.console.oidc.mapper.TeamApplicationMapMapper" >
  <resultMap id="BaseResultMap" type="cipher.console.oidc.domain.web.TeamApplicationMap" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="team_id" property="teamId" jdbcType="INTEGER" />
    <result column="application_id" property="applicationId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, team_id, application_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from cipher_team_application_map
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cipher_team_application_map
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cipher.console.oidc.domain.web.TeamApplicationMap" >
    insert into cipher_team_application_map (id, team_id, application_id
      )
    values (#{id,jdbcType=INTEGER}, #{teamId,jdbcType=INTEGER}, #{applicationId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cipher.console.oidc.domain.web.TeamApplicationMap" >
    insert into cipher_team_application_map
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="applicationId != null" >
        application_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="applicationId != null" >
        #{applicationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cipher.console.oidc.domain.web.TeamApplicationMap" >
    update cipher_team_application_map
    <set >
      <if test="teamId != null" >
        team_id = #{teamId,jdbcType=INTEGER},
      </if>
      <if test="applicationId != null" >
        application_id = #{applicationId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cipher.console.oidc.domain.web.TeamApplicationMap" >
    update cipher_team_application_map
    set team_id = #{teamId,jdbcType=INTEGER},
      application_id = #{applicationId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <delete id="deleteTeamApplicationMap"  parameterType="cipher.console.oidc.domain.web.TeamInfo">
     delete from cipher_team_application_map
      where 1=1
        <if test="teamId != null and teamId!=''">
            and team_id=#{teamId,jdbcType=INTEGER}
        </if>
        <if test="applicationId != null and applicationId !=''">
          and   application_id=  #{applicationId,jdbcType=INTEGER}
        </if>
    </delete>


    <select id="selectAppList" resultType="cipher.console.oidc.domain.web.ApplicationInfo">
       select tt.id as id ,application_name as applicationName from cipher_application_info tt
       LEFT JOIN cipher_team_application_map map on tt.id=map.application_id
       where 1=1
      <if test="teamId != null and teamId!=''">
        and map.team_id=#{teamId,jdbcType=INTEGER}
      </if>
      <if test="applicationId != null and applicationId !=''">
        and  map. application_id=  #{applicationId,jdbcType=INTEGER}
      </if>
    </select>


  <select id="selectTeamApplication" resultType="cipher.console.oidc.domain.web.TeamInfo" parameterType="cipher.console.oidc.domain.web.TeamInfo">
    select info.id as id,info.application_name as applicationName from cipher_application_info info
    LEFT JOIN cipher_team_application_map map on map.application_id=info.id
    where map.team_id=#{id}
  </select>



  <select id="selectCount" resultType="int">
    select count(1) from  cipher_team_application_map  where team_id=#{id}
  </select>


  <select id="selectTeamList" resultType="cipher.console.oidc.domain.web.TeamInfo" parameterType="cipher.console.oidc.domain.web.TeamApplicationMap">
    select tt.id as id ,team_name as teamName from cipher_team_info tt
    LEFT JOIN cipher_team_application_map map on tt.id=map.team_id
    where 1=1
    <if test="teamId != null and teamId!=''">
      and map.team_id=#{teamId,jdbcType=INTEGER}
    </if>
    <if test="applicationId != null and applicationId !=''">
      and  map. application_id=  #{applicationId,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectTeamApplicationInfo" resultMap="BaseResultMap" parameterType="cipher.console.oidc.domain.web.TeamApplicationMap">
    select
    <include refid="Base_Column_List" />
    from cipher_team_application_map where 1=1
    <if test="teamId != null and teamId!=''">
      and team_id=#{teamId}
    </if>
    <if test="applicationId != null and applicationId !=''">
      and application_id=  #{applicationId}
    </if>
  </select>
    <delete id="cancelAuthration" parameterType="cipher.console.oidc.domain.web.TeamInfo">
      delete from cipher_team_application_map
       where 1=1
         and  team_id=#{id}
         and   application_id=  #{applicationId}

    </delete>

</mapper>
