<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cipher.console.oidc.mapper.WxGroupMapper">


    <select id="queryAlredyExistsGroup" resultType="Long">
        <if test="list != null and list.size() != 0">
            select wx_id from cipher_group_info
            where wx_id in
            <foreach collection="list" item="wxGroup" open="(" close=")" separator=",">
                #{wxGroup.id}
            </foreach>
        </if>
    </select>


</mapper>
